@import '../../shared/responsive-breakpoints.scss';
.customer-container {
    justify-content: center;
    align-items: center;
}

.customer-card {
    display: inline-block;
    width: 20%;
    margin: 1%;
    // @media (max-width: 767px) {
    //     width: 98%;
    // }
    @include respond-to(xs-screen) {
        width: 98%;
    }
    @include respond-to(sm-screen) {
        width: 30%;
    }
}

.customer-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.paginator-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newCustomer {
    padding-bottom: 10px;
    margin-left: 1%;
    padding-top: 2%;
    // @media (max-width: 767px) {
    //     padding-bottom: 10px;
    // }
    @include respond-to(xs-screen) {
        padding-bottom: 10px;
    }
}