@import '../../shared/responsive-breakpoints.scss';
.supplier-card {
    margin: 1%;
    display: inline-block;
    width: 20%;
    // @media (max-width: 767px) {
    //     width: 98%;
    // }
    @include respond-to(xs-screen) {
        width: 98%;
    }
}